<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/utils.css">
    <script src="https://kit.fontawesome.com/ea94855ddc.js" crossorigin="anonymous"></script>
    <title>Chat</title>
</head>

<body>
    <div class="container">
        <%- include('profile_side_bar') %>
        <div class="mainContainer">
            <nav>
                <form action="/search" method="get">
                    <input type="text" name="search" class="search ml-10" placeholder="search" />
                    <button type="submit" class="btn primary-btn">search</button>
                </form>
                <button type="button" onclick="postBox()" class="btn sec-btn">Post</button>
                <button class="btn sec-btn">Likes: <%= likes.length %></button>
            </nav>
            <main>
                <div id="chatList">
                    <ul>
                        <% for(let k = 0; k < data.length; k++) { %>
                        <li>
                            <img src="/images/default_pic.png" class="short_profile_pic">
                            <p class="ml-5"><%= data[k].to %></p>
                            <form action="/chatting" method="get">
                                <input type="hidden" name="to" value="<%= data[k].to %>">
                                <button class="btn primary-btn ml-10" onclick="getChat()">Chat</button>
                            </form>
                        </li>
                        <% } %>
                    </ul>
                </div>
                <div id="chatBox" class="center d_none">
                    <div class="post-info bg bdr-l bdr-t bdr-r">
                        <img src="/images/default_pic.png" class="short_profile_pic">
                        <span></span>
                    </div>
                    <div class="chat-area">
                        <ul>
                            <li class="float-l">hello</li>
                            <li class="float-r">yes</li>
                            <li class="float-l">hello</li>
                            <li class="float-r">yes</li>
                            <li class="float-l">hello</li>
                            <li class="float-r">yes</li>
                            <li class="float-l">hello</li>
                            <li class="float-r">yes</li>
                            <li class="float-l">hello</li>
                            <li class="float-r">yes</li>
                            <li class="float-l">hello</li>
                            <li class="float-r">yes</li>
                            <li class="float-l">hello</li>
                            <li class="float-r">yes</li>
                            <li class="float-l">hello</li>
                            <li class="float-r">yes</li>
                            <li class="float-l">hello</li>
                            <li class="float-r">yes</li>
                            <li class="float-l">hello</li>
                            <li class="float-r">yes</li>
                            <li class="float-l">hello</li>
                            <li class="float-r">yes</li>
                            <li class="float-l">hello</li>
                            <li class="float-r">yes</li>
                        </ul>
                    </div>
                    <div class="text-area">
                        <form action="">
                            <input type="text" name="msg" placeholder="Type here" class="search">
                            <button type="submit" class="btn primary-btn">Send</button>
                        </form>
                    </div>
                </div>
                <%- include('upload') %>
            </main>
        </div>
    </div>

    <script type="text/javascript" src="/javascript/custom.js"></script>
</body>

</html>

